body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}